# based on this template -> https://gist.github.com/444295
# Ignore everything in the root except the "wp-content" directory.
/*
!.gitignore
!wp-content/
 
# Ignore everything in the "wp-content" directory, except the "plugins"
# and "themes" directories.
wp-content/*
!wp-content/plugins/
!wp-content/themes/
 
# Ignore everything in the "plugins" directory, except our plugins
wp-content/plugins/*
!wp-content/plugins/bbpress/languages/bbpress-de_DE.mo
!wp-content/plugins/bbpress/languages/bbpress-de_DE.po
# !wp-content/plugins/my-directory-plugin/
 
# Ignore everything in the "themes" directory, except our theme
wp-content/themes/*
!wp-content/themes/huskies-theme/