# Application
web/app/plugins/*
!web/app/plugins/.gitkeep
web/app/mu-plugins/*
!web/app/mu-plugins/.gitkeep
web/app/upgrade
web/app/uploads/*
!web/app/uploads/.gitkeep
!web/app/mu-plugins/disallow-indexing.php
!web/app/mu-plugins/bedrock-autoloader.php

# WordPress
web/wp
web/.htaccess

# WP-CLI
db-sync
sql-dump-*.sql

# Dotenv
.env
.env.*
!.env.example

# Vendor (e.g. Composer)
vendor/*
!vendor/.gitkeep

# Node Package Manager
node_modules
npm-debug.log

# Bower
bower_components
web/app/themes/huskies-theme/vendor/

# Vagrant
bin
.vagrant
.DS_Store

web/app/themes/huskies-theme/app.js
web/app/themes/huskies-theme/styles/compiled.css
