# based on this template -> https://gist.github.com/444295
# Ignore everything in the root except the "wp-content" directory.
/*
!.gitignore
!wp-content/
 
# Ignore everything in the "wp-content" directory, except the "plugins"
# and "themes" directories.
wp-content/*
!wp-content/plugins/
!wp-content/themes/
!wp-content/languages/
wp-content/languages/*
!wp-content/languages/bbpress/
 
# Ignore everything in the "plugins" directory, except our plugins
wp-content/plugins/*
# !wp-content/plugins/my-directory-plugin/

# Ignore everything in the "plugins" directory, except plugins with own localization
!wp-content/plugins/bbpress/
wp-content/plugins/bbpress/*
!wp-content/plugins/bbpress/languages/
wp-content/plugins/bbpress/languages/*
!wp-content/plugins/bbpress/languages/bbpress-de_DE.mo
!wp-content/plugins/bbpress/languages/bbpress-de_DE.po

!wp-content/plugins/bbpress-post-toolbar/
wp-content/plugins/bbpress-post-toolbar/*
!wp-content/plugins/bbpress-post-toolbar/languages/
wp-content/plugins/bbpress-post-toolbar/languages/*
!wp-content/plugins/bbpress-post-toolbar/languages/bbp_5o1_toolbar-de_DE.mo
!wp-content/plugins/bbpress-post-toolbar/languages/bbp_5o1_toolbar-de_DE.po


#changed simple avatar plugin
!wp-content/plugins/simple-local-avatars/
wp-content/plugins/simple-local-avatars/*
!wp-content/plugins/simple-local-avatars/simple-local-avatars.php

# Ignore everything in the "themes" directory, except our theme
wp-content/themes/*
!wp-content/themes/huskies-theme/