<nav class="header__mobile clear">
  <span class="icon-menu pull-left main_menu__toggle"></span>
  <a href="{{ site.url }}" class="header__mobile-logo">
    <svg><use xlink:href="#logo-font" width="100%" height="100%"></use></svg>
  </a>
  <span class="icon-paw pull-right"></span>
</nav>
