<nav class="header__mobile clear" data-anchor-target=".slideshow" data-100-top-bottom="background-color: rgba(255, 255, 255, 0);box-shadow:0 2px 5px rgba(0,0,0,0)" data-top-bottom="background-color: rgba(255, 255, 255, 1);box-shadow:0 2px 5px rgba(0,0,0,0.25)">
  <span class="icon-menu pull-left main_menu__toogle" data-anchor-target=".slideshow" data-100-top-bottom="color: rgba(255, 255, 255, 1);" data-top-bottom="color: rgba(80, 81, 79, 1);"></span>
  <a href="{{ site.url }}" class="header__mobile-logo" data-anchor-target=".slideshow" data-100-top-bottom="opacity:0;" data-top-bottom="opacity:1;">
    <svg><use xlink:href="#logo-font" width="100%" height="100%"></use></svg>
  </a>
  <span class="icon-paw pull-right" data-anchor-target=".slideshow" data-100-top-bottom="color: rgba(255, 255, 255, 1);" data-top-bottom="color: rgba(80, 81, 79, 1);"></span>
</nav>
