<nav class="header">
  <div class="header__mobile clear">
    <span class="icon-menu pull-left"></span>
    <span class="icon-paw pull-right"></span>
  </div>
</nav>

<img class="logo" src="{{ site.theme.uri }}/images/logo.svg" alt="Logo" />
