<ul class="slideshow">
  {% for index, item in items %}
    <li class="slideshow__item {{ index == 0 ? 'slideshow__item--visible' : '' }}" style="background-image: url('{{ item.url.original }}');"></li>
  {% endfor %}
</ul>
