@gap: 2rem;
#comments {
  margin-top: @gap;
  text-align: center;
  margin-bottom: @gap;

  .tabbable {

    .nav-tabs {
      h3 { margin: 0; }
      li > h3 { margin: 0.85rem 0.5rem 0 0.5rem; }
      a { padding-bottom: 0rem; }
      li:not(.active) a:hover { background: none; }
    }

    .tab-content {
      text-align: left;
    }
  }

  hr.fancy:first-of-type { margin-top: @gap; }

  .commentlist {

    .children { 
      overflow: hidden; 
      list-style: none outside none;
    }

    .comment {
      margin: 1.5rem 0;
      .border-radius(0.5rem);
      padding: 1rem;
      position: relative;

      &.bypostauthor { background-color: @grayLighter; }

      > a { 
        margin-right: 2rem; 
        position: relative;
        margin-bottom: 2rem;
        float: none;
        display: block;

        @media (min-width: 768px) { 
          margin-bottom: 0; 
          float: left;
        }

        &:after {
          content: "";
          position: absolute;
          width: 0; 
          height: 0; 
          @media (max-width: 767px) { 
            border-bottom: 1.5rem solid rgba(0, 0, 0, 0.2);
            border-left: 1.5rem solid transparent;
            border-right: 1.5rem solid transparent;
            left: 1.5rem;
            bottom: -2rem;
          }

          @media (min-width: 768px) { 
            border-right: 1.5rem solid rgba(0, 0, 0, 0.2);
            border-top: 1.5rem solid transparent;
            border-bottom: 1.5rem solid transparent;
            border-left: none;
            right: -2rem;
            top: 30%;
          }
        }
      }

      > div {
        border-top: 0.1rem solid rgba(0, 0, 0, 0.2);
        @media (min-width: 768px) { 
          border-left: 0.1rem solid rgba(0, 0, 0, 0.2); 
          border-top: none;
        }
        padding: 0.5rem;
        position: relative;
        @media (max-width: 767px) { 
          overflow: visible;
        }

        .page-header {
          margin-top: 0;
          margin-bottom: 0.5rem;
          padding: 0;
          border-bottom: 0.1rem solid rgba(0, 0, 0, 0.2);
          position: relative;

          span { 
            margin-top: -2rem; 

            @media (max-width: 767px) { 
              position: absolute;
              right: 0;
              top: -2rem;
            }
          }
        }
      }
    }
  }

  #respond {
    margin-top: @gap;
    text-align: left;
    margin-bottom: @gap; 

    & > .page-header {
      margin: 1.5rem 0;
      padding-bottom: 0;

      h3 { margin: 0; }

      .comment_notes,
      .comment_logged_in_as { 
        color: @grayLight; 

        code { color: @textColor; }
      }
    }

    @media (min-width: 768px) {
      .row-fluid .span4:nth-child(2) {
        margin-left: 1%;
        @media(min-width: 1200px) { margin-left: 3%; }
        text-align: center;
      }

      .row-fluid .span4:last-child {
        margin-left: 1%;
        text-align: right;
      }
    }

    .row-fluid:first-of-type { margin-bottom: 0.5rem; }

    input[type="text"] {
      width: 50%;
    }

    textarea {
      width: 100%;
      height: 15rem;
      resize: vertical;
    }

    .comment_must_log_in { text-align: center; }

    .comment_form_allowed_tags {
      dt {
        overflow: visible;
        text-align: center;
        width: 36%;
        white-space: normal;
      }

      dd {
        float: right;
        width: 62%;
        margin-left: 0;
        background-color: #F7F7F9;
        border: 1px solid #E1E1E8;
        padding: 0.5rem;
        .border-radius(0.5rem);

        code { 
          white-space: pre-line; 
          background: none;
          border: none;
        }
      }
    }

    .comment_form_submit {
      background: none;
      text-align: center;
      padding-bottom: 0;
      padding-top: 0.5rem;
    }
  }
}