#firstFooter {
  color: @black;
  text-align: center;

  > span {
    margin-left: 0.5rem;

    @media (max-width: 767px) { float: none; }  
  }

  p {
    display: inline-block;
    width: 60%;

    @media (max-width: 767px) { margin-top: 1rem; }
  }

  a[href="#footer"] {
    margin-right: 0.5rem;

    &:hover { 
      color: @linkColorHover;
      text-decoration: none;
    }

    i { margin-left: 0.25rem; }
  }
}

#secondFooter {
  #user_info {
    z-index: 500;
    text-align: center;
    margin-top: 2.5rem;

    > img { 
      @media (max-width: 767px) { display: none; }
      .border-radius(50%);
      display: inline;
    }

    > .avatar_anonym {
      @media (max-width: 767px) { display: none; }
      width: 10rem;
      color: @grayLight;
      cursor: default;
      text-align: center;
      font-size: 8rem;
      height: 10rem;
      .border-radius(50%);
      background-color: #ddd;
      border: 0.4rem solid @white;
      .box-shadow(0 1px 3px rgba(0,0,0,.1));
      margin: 0 auto;

      i { 
        position: relative;
        top: 5%; 
      }
    }

    > hr {
      margin: 0.25rem 0;
      width: 50%;
      margin-left: 25%;
    }

    > p {
      text-align: center;
      margin: 0;
    }

    > p:first-of-type {
      margin-top: 1rem;
    }
  }
}

#top_navigator { 
  background-color: @green;
  .border-radius(50%);
  bottom: 5rem;
  color: @gray;
  display: none;
  .opacity(50);
  padding: 0.75rem 1rem;
  position: fixed;
  right: 6rem;
  text-decoration: none;
  z-index: 100;
  font-size: 2rem;
  text-shadow: @black 0 0.1rem 0;
  .transition(all 1s ease);

  &:after {
    content: "";
    width: 120%;
    height: 120%;
    border: 0.25rem solid @black;
    .border-radius(50%);
    background-color: transparent;
    position: absolute;
    left: -17.5%;
    top: -17.5%;
  }

  &:hover {
    .opacity(75);
    color: @white;
  }
}

#secondFooter {
  background-image: url("@{basePath}debut_dark.png");
  min-height: 10rem;
  .box-shadow(inset 0 0 1rem 0.5rem @grayDarker);
  color: @white;
  padding-top: 0.5rem;
  position: relative;

  fieldset {
    legend {
      text-align: center;
      color: @grayLight;
      text-shadow: @black 0 0.1rem 0;
      font-family: @serifFontFamily;
      border: none;
      .border-radius(1rem);
      .box-shadow(0rem 0.6rem 0.8rem -0.8rem @black);
    }
  }
}