@sansFontFamily:  "Muli", "Helvetica Neue", Helvetica, Arial, sans-serif;
@serifFontFamily: "Lobster", Georgia, "Times New Roman", Times, serif;

@linkColor: @green;

@gridColumnWidth:         55px;
@gridGutterWidth:         10px;

@gridColumnWidth1200:     65px;
@gridGutterWidth1200:     20px;

@gridColumnWidth768:      37px;
@gridGutterWidth768:      15px;

h1, h2, h3, h4, h5 {
  font-weight: normal;
}

.tooltip {
  font-size: 1.5rem;
}

a,
a > * {
  .transition(all 1s ease);
}

hr.fancy { 
  margin: 0 auto; 
  width: 80%;
  border-top-color: darken(@grayLighter, 10%);
  position: relative;

  &:before,
  &:after {
    position: absolute;
    left: 25%;
    content: "";
    width: 50%;
    margin: 0 auto; 
    border-top: 0.1rem solid darken(@grayLighter, 10%);
  }

  &:before { top: -0.65rem; }
  &:after { bottom: -0.5rem; }
}