header {
  height: @height-header / 2.5;
}

.home header {
  height: @height-header;
}

.header__mobile {
  position: fixed;
  height: 50px;
  top: 0;
  left: 0;
  width: 100%;
  z-index: @z-top;
  transition: @transition-menu, background-color .3s ease, box-shadow .3s ease;
  background-color: transparent;
  box-shadow: none;

  > .header__links {
    .icon_link(@c-white);
    margin: 0 5px;
    text-decoration: none;
    line-height: 44px;
  }

  .icon-custom-user {
    width: 30px;
    height: 30px;
    filter: grayscale(100%);
    margin-top: 12px;

    > img {
      width: 100%;
      height: 100%;
      display: block;
      border-radius: 50%;
    }
  }
}

.header__mobile-logo {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 50%;
  height: 45px;
  opacity: 0;
  visibility: hidden;
  transition: visibility .3s ease, opacity .3s ease;
  color: @c-black;

  > svg {
    height: 100%;
    width: 100%;
  }
}

.header__mobile--inverse {
  background-color: @c-white;
  box-shadow:0 2px 5px fade(@c-black, 25%);

  .header__mobile-logo {
    opacity: 1;
    visibility: visible;
  }

  .header__links {
    .icon_link(@c-black);
  }
}
