.header{
  position: fixed;
  height: 50px;
  top: 0;
  left: 0;
  width: 100%;
}

.header__mobile {
  > [class^="icon-"] {
    .icon(@c-white);
    font-size: 30px;
    line-height: 50px;
    margin: 5px;
  }
}

.logo {
  margin: 0 auto;
  width: 150px;
  display: block;
  position: relative;
  top: -15px;
}
