@charset "UTF-8";

@import "_variables";
@import "_fonts";
@import "_typography";
@import "_buttons";
@import "_parallax";

* {
  box-sizing: border-box;
}

html, body, ul, h1, h2 {
  margin: 0;
  padding: 0;
}

html, body {
  font-family: @f-normal;
  font-weight: @fw-normal;
  color: @c-black;
  font-size: 75%;
}

.pull-left {
  float: left;
}

.pull-right {
  float: right;
}

.clear {
  &:before,
  &:after {
    content: " ";
    display: table;
  }

  &:after {
    clear: both;
  }
}

.icon(@color: @c-white) {
  cursor: pointer;
  color: @color;
  &:hover {
    color: darken(@color, 10%);
  }
}

@import "section";
@import "header";
@import "slideshow";
@import "post_short";
@import "footer";
