@charset "UTF-8";

@import "variables";
@import "mixins";
@import "typography";
@import "buttons";

* {
  box-sizing: border-box;

  &:before,
  &:after {
    box-sizing: border-box;
  }

  &::selection {
    background-color: @c-blue;
    color: @c-white;
  }
}

html, body, ul, h1, h2, p {
  margin: 0;
  padding: 0;
}

html, body {
  font-family: @f-normal;
  font-weight: @fw-normal;
  color: @c-black;
  font-size: 80%;
  min-width: 300px;

  @media @from-tablet {
    font-size: 90%;
  }

  @media @from-desktop {
    font-size: 100%;
  }
}

a {
  color: @c-blue;
  text-decoration: none;
  transition: color .3s ease;

  &:hover {
    color: darken(@c-blue, 10%);
  }
}

.icon {
  height: 32px;
  width: 32px;
  display: inline-block;
  vertical-align: middle;
  fill: currentColor;
  transition: fill .3s ease;
}

.container {
  transition: transform 0.5s ease, left 0.5s ease;
  transform-origin: top;
  left: 0;
  position: relative;
}

.pull-left {
  float: left;
}

.pull-right {
  float: right;
}

.clear {
  &:before,
  &:after {
    content: " ";
    display: table;
  }

  &:after {
    clear: both;
  }
}

.logo__wrapper {
  height: 250px;
  text-align: center;
  color: @c-black;
}

main {
  position: relative;
}

.logo {
  fill: currentColor;
  stroke-opacity: 0;

  .logo__tower {
    fill: @c-white;
    stroke: @c-blue;
    stroke-opacity: 1;
  }

  .logo__sub-headline {
    fill: @c-blue;
  }
}

.mapp-layout {
  .maxwidth();
}

.center {
  text-align: center;
}

@import "title";
@import "calendar";
@import "main_menu";
@import "pagination";
@import "gallery";
@import "section";
@import "header";
@import "slideshow";
@import "post_short";
@import "post_full";
@import "footer";
@import "breadcrumb";
@import "forum";
@import "reply";
@import "modal";
@import "form";
@import "members";
@import "user_nav";
@import "account_form";
