.section {
  padding: 25px;
  position: relative;
  // padding-top: 200px;
  background-color: @c-white;

  &:before {
    content: '';
    top: -49px;
    border-left: transparent 0 solid;
    border-right: transparent 100vw solid;
    border-bottom: @c-white 50px solid;
    position: absolute;
    left: 0;
  }
}

.section__title {
  margin-bottom: 25px;
}
