{% from 'layout/forms/base.twig' import render %}
{% from _self import content %}

{% macro content() %}
  <fieldset class="form__section form__section--text-input">
    <input type="text" id="user_login" name="user_login" required>
    <label for="user_login">{{ __('user_login', 'huskies') }}</label>
  </fieldset>
{% endmacro %}

{{ render(page, 'forgot', __('Forgot Password', 'huskies'), content()) }}
