{% from 'macro.twig' import icon, modal %}
{% from _self import content, footer %}

{{ modal('lost-password-form', __('Lost Password', 'huskies'), content(), footer()) }}

{% macro content() %}
  {% filter shortcodes %} [wppb-recover-password] {% endfilter %}
{% endmacro %}

{% macro footer() %}
<a class="modal__trigger" href="#modal-login-form">{{ __('Already registered?', 'huskies') }}</a>
{% endmacro %}
