{% extends "layout/base.twig" %}

{% block header %}
  <div class="slideshow slideshow--no-images">
    <h1 class="slideshow__title">{{ __('Forum', 'huskies') }}</h1>
  </div>
{% endblock %}

{% block content %}
<section class="section">
No Forums
</section>
{% endblock %}
